services:
  chokobot:
    container_name: chokobot_container
    build: .
    ports:
      - "8000:8000"
    volumes:
      - /root/chokobot/dados:/app/dados
    env_file:
      - .env
    restart: unless-stopped
